<div class="outer bg-gray-800 text-white p-4" >
    <div class="nav-bar flex items-center justify-between">
        <div class="logo-wrapper font-bold text-orange-500 font-serif">E-com</div>
        <div class="space-x-4">
            <a routerLink="/home" class="hover:text-orange-500 ">Home</a>
            <a routerLink="/product" class="hover:text-orange-500">Products</a>
            <a routerLink="#" class="hover:text-orange-500">Orders</a>
            <a routerLink="#" class="hover:text-orange-500">Cart</a>
            <a routerLink="#" class="hover:text-orange-500">Track My Order</a>

        </div>
    </div>
</div>